{% if site.data.widget_upcoming.published != false %}
{% assign upcoming_event = site.data.widget_racing_2019_20[site.data.widget_racing_2019_20.upcoming_regatta] %}
{% if upcoming_event[0].title %}<h3>Upcoming: {{ upcoming_event[0].title | escape }}</h3>{% endif %}
<ul class="post-list text-muted list-unstyled">
{% for link in upcoming_event %}
  {% if link.published != false  %}
  {% if forloop.first != true and forloop.index < 5  %}{% comment %}Skip upcoming_event[0].title which causes a blank space inserted{% endcomment %}
  <li>
    <h4>{% if link.emoji %}:{{ link.emoji }}:{% else %}&nbsp;{% endif %} <a href="{{ link.url }}" rel="nofollow" target="{{ link.target }}">{{ link.text }}</a></h4>
  </li>
  {% endif %}
  {% endif %}
{% endfor %}

{% for link in site.data.widget_racing_2019_20.upcoming-common %}
  {% if link.published != false %}
  <li>
    <h4>{% if link.emoji %}:{{ link.emoji }}:{% else %}&nbsp;{% endif %} <a href="{{ link.url }}" rel="nofollow" target="{{ link.target }}">{{ link.text }}</a></h4>
  </li>
  {% endif %}
{% endfor %}

{% for link in site.data.widget_racing_2019_20.current-common %}
{% if link.title %}<h3>{{ link.title | escape }}</h3>{% endif %}
  {% if link.published != false %}
  <li>
    <h4>{% if link.emoji %}:{{ link.emoji }}:{% else %}&nbsp;{% endif %} <a href="{{ link.url }}" rel="nofollow" target="{{ link.target }}">{{ link.text }}</a></h4>
  </li>
  {% endif %}
{% endfor %}

</ul>
{% endif %}
