<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <div class="row">
      <div class="col-sm-12 col-md-8">
        {% include data/widget_donate.html %}
        {% include data/widget_googleapps.html %}
      </div>

      <div class="col-sm-12 col-md-4">
        <p>{{ site.description | escape }}</p>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>
    </div>

  </div>

</footer>