<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="row">
      <div class="col-sm-12 col-md-8">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
        {% for block in site.blocks %}
        {% if block.location == 'footer' %}
        {% include blocks.html %}
        {% endif %}
        {% endfor %}
      </div>

      <div class="col-sm-12 col-md-4">
        <p>{{ site.description | escape }}</p>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>
    </div>

  </div>

</footer>