{% assign title       = include.title       | default: "Pro Tip"  %}
{% assign body        = include.body                              %}
{% assign example     = include.example                           %}
{% assign ex_label    = include.ex_label    | default: "Example" %}
{% assign action_text = include.action_text                       %}
{% assign action_url  = include.action_url                        %}
{% assign align       = include.align       | default: "right"    %}
{% assign color       = include.color       | default: "info"     %}
{% assign emoji       = include.emoji       | default: "star2"    %}
{% comment %}
# Add emoji colons as needed
{% endcomment %}
{% assign emoji_end = emoji | size | minus: 1 %}
{% assign colon1 = emoji | slice: 0 %}
{% assign colon2 = emoji | slice: emoji_end %}
{% if emoji %}{% capture emojii %}{% if colon1 != ":" %}:{% endif %}{{ emoji }}{% if colon2 != ":" %}:{% endif %}{% endcapture %}{% endif %}
<div class="panel panel-{{ color }}">
  <div class="panel-heading">
    <h3 class="panel-title">ℹ️{{ emojii }} {{ title }}</h3>
  </div>
  <div class="panel-body">
    {% if body %}<p>{{ body }}</p>{% endif %}
    {% if example %}<p><strong>{{ ex_label }}</strong> <div class="well well-sm">{{ example }}</div></p>{% endif %}
    {% if action_url %}<div class="text-{{ align }}"><a type="button" class="btn btn-sm btn-{{ color }}" href="{{ action_url }}" target="_blank" rel="nofollow">{{ action_text }}</a></div>{% endif %}
  </div>
</div>
