{% assign protip_emoji = "star" %}
{% assign protip_title = "Pro Tip" %}
{% assign protip_color = "primary" %}

<div class="panel panel-{{ include.color | default: protip_color }}">
  <div class="panel-heading">
    <h3 class="panel-title">ℹ️:{{ include.emoji | default: protip_emoji }}: {{ include.title | default: protip_title }}</h3>
  </div>
  <div class="panel-body">
    {% if include.protip %}<p>{{ include.protip }}</p>{% endif %}
    {% if include.example %}<p><em>Example:</em> <div class="well well-sm">{{ include.example }}</div></p>{% endif %}
    {% if include.action_url %}<div class="text-{{ include.align | default: "right" }}"><a type="button" class="btn btn-sm btn-{{ include.color | default: protip_color }}" href="{{ include.action_url }}" target="_blank" rel="nofollow">{{ include.action_text }}</a></div>{% endif %}
  </div>
</div>
