{% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
{% if include.intro %}<p>{{ include.intro }}</p>{% endif %}

<div style="width: {{ site.data.willyweather.width }}px;">
  <iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id={{ site.data.willyweather.id }}" width="{{ site.data.willyweather.width }}" height="{{ site.data.willyweather.height }}" frameborder="0" scrolling="no"></iframe>
  <a style="" href="https://www.willyweather.com/ca/orange-county/san-gabriel-river-mouth.html" rel="nofollow" target="_blank">{{ site.data.willyweather.description }}</a>
</div>

<h3>Weather & Navigation Resources</h3>
<ul>
  <li>
<img class="emoji" title=":sunny:" alt=":sunny:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/2600.png" height="20" width="20"> <a href="http://marine.weather.gov/MapClick.php?x=251&amp;y=181&amp;site=lox&amp;zmx=&amp;zmy=&amp;map_x=251&amp;map_y=181#.WdsP4N-YWV4">NOAA LA/OC Marine Weather</a> // <img class="emoji" title=":small_red_triangle:" alt=":small_red_triangle:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f53a.png" height="20" width="20"> <a href="http://www.ndbc.noaa.gov/radial_search.php?lat1=33.5645N&amp;lon1=118.7508W&amp;uom=E&amp;dist=50">LA/OC Buoy Data</a>
</li>
  <li>
<img class="emoji" title=":ocean:" alt=":ocean:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f30a.png" height="20" width="20"> <a href="http://marine.weather.gov/MapClick.php?x=321&amp;y=232&amp;site=lox&amp;zmx=&amp;zmy=&amp;map_x=321&amp;map_y=232#.WdsQ8N-YWV4">NOAA SD Marine Weather</a> // <img class="emoji" title=":small_red_triangle:" alt=":small_red_triangle:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f53a.png" height="20" width="20"> <a href="http://www.ndbc.noaa.gov/radial_search.php?lat1=32.8501N&amp;lon1=117.5881W&amp;uom=E&amp;dist=50">SD Buoy Data</a>
</li>
  <li>
<img class="emoji" title=":earth_americas:" alt=":earth_americas:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f30e.png" height="20" width="20"> <a href="https://oceanservice.noaa.gov/facts/find-charts.html">Nautical Charts</a>
</li>
  <li>
<img class="emoji" title=":partly_sunny:" alt=":partly_sunny:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/26c5.png" height="20" width="20"> <a href="http://preview.weather.gov/edd/">Enhanced Weather Display</a>  // <img class="emoji" title=":iphone:" alt=":iphone:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f4f1.png" height="20" width="20"> <a href="https://go.usa.gov/xnxUe">Mobile</a>
</li>
</ul>
